@media (min-width: $desktop-width) {
  .catalog__container {
    margin: 50px;
    margin-top: 128px;
    width: auto;
  }
}

.catalog__list {
  @include clear-list;
}

@media (min-width: $desktop-width) {
  .catalog__list {
    display: flex;
    justify-content: space-between;
  }
}

.catalog__item {
  margin-top: 30px;
  display: flex;
  flex-direction: column;

  border: 1px solid #ebebeb;
}

@media (min-width: $tablet-width) {
  .catalog__item {
    flex-wrap: wrap;

    height: 334px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__item {
    flex-wrap: nowrap;

    width: 316px;
    height: auto;

    margin-top: 0;
  }
}

.catalog__item-title {
  font-size: 17px;
  font-weight: bold;

  padding: 0;
  margin: 0;
  margin-left: 28px;
  margin-bottom: 17px;

  order: 1;
}

@media (min-width: $tablet-width) {
  .catalog__item-title {
    font-size: 20px;
    line-height: 24px;

    margin-top: 29px;
    margin-bottom: 15px;
    order: 1;
  }
}

.catalog__item-img-wrapper {
  order: 0;

  margin: 0;
  padding: 0;
  margin-bottom: 31px;
}

@media (min-width: $tablet-width) {
  .catalog__item-img-wrapper {
    width: 334px;
    height: 334px;

    margin-bottom: 0;

    background-color: #999999;
  }
}

@media (min-width: $desktop-width) {
  .catalog__item-img-wrapper {
    width: 316px;
    height: 462px;
  }
}

.catalog__item-information {
  order: 2;

  margin: 0 28px;
}

.catalog__item-details {
  font-size: 13px;
  line-height: 30px;
  color: $content-text-color;

  padding-bottom: 27px;
  border-bottom: 1px solid #ebebeb;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .catalog__item-details {
    font-size: 15px;

    padding-bottom: 160px;
    margin: 0;
  }
}

.catalog__item-price {
  font-size: 15px;
  font-weight: bold;
  background-color: #ffffff;
  border: none;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 30px;
  text-align: left;
}
