.catalog__container {
  margin-bottom: 60px;
}

@media (min-width: $desktop-width) {
  .catalog__container {
    margin-top: 126px;
  }
}

.catalog__list {
  @include clear-list;
}

@media (min-width: $desktop-width) {
  .catalog__list {
    display: flex;
    justify-content: space-between;
  }
}

.catalog__item {
  margin-top: 27px;

  &:first-child {
    margin-top: 30px;
  }
  display: flex;
  flex-direction: column;

  border: 1px solid #ebebeb;

  &:focus,
  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);

    & .catalog__item-title {
      opacity: 0.6;
    }

    & .catalog__item-price-svg {
      fill: $contrast-color;
      opacity: 1;
    }
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);

    & .catalog__item-title {
      opacity: 0.3;
    }

    & .catalog__item-price-svg {
      opacity: 0.2;
    }
  }
}

@media (min-width: $tablet-width) {
  .catalog__item {
    flex-wrap: wrap;
    align-content: flex-start;

    height: 334px;

    margin-top: 52px;

    &:first-child {
      margin-top: 70px;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog__item {
    flex-wrap: nowrap;

    width: 316px;
    height: auto;

    margin-top: 0;

    &:first-child {
      margin-top: 0;
    }
  }
}

.catalog__item-title {
  font-size: 17px;
  font-weight: bold;

  width: 200px;

  padding: 0;
  margin: 0;
  margin-left: 28px;
  margin-bottom: 8px;

  order: 1;
}

@media (min-width: $tablet-width) {
  .catalog__item-title {
    font-size: 20px;
    line-height: 24px;

    width: 240px;

    margin-top: 25px;
    margin-bottom: 5px;
    margin-left: 30px;
    order: 1;
  }
}

@media (min-width: $desktop-width) {
  .catalog__item-title {
    margin-top: 24px;
    margin-left: 26px;
  }
}

.catalog__item-img-wrapper {
  order: 0;

  margin: 0;
  padding: 0;
  margin-bottom: 21px;
}

@media (min-width: $tablet-width) {
  .catalog__item-img-wrapper {
    width: 334px;
    height: 334px;

    margin-bottom: 0;

    background-color: #999999;
  }
}

@media (min-width: $desktop-width) {
  .catalog__item-img-wrapper {
    width: 316px;
    height: 462px;
  }
}

.catalog__item-information {
  order: 2;

  margin: 0 28px;
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .catalog__item-information {
    flex-grow: 1;
    width: 268px;
  }
}

.catalog__item-details {
  font-size: 13px;
  line-height: 30px;
  color: $content-text-color;

  padding-bottom: 18px;
  border-bottom: 1px solid #ebebeb;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .catalog__item-details {
    font-size: 15px;
    flex-grow: 1;
    margin: 0;
  }
}

.catalog__item-price {
  text-decoration: none;
  color: #000000;
  position: relative;
  font-size: 15px;
  font-weight: bold;
  background-color: #ffffff;
  border: none;
  width: 100%;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: left;
}

@media (min-width: $tablet-width) {
  .catalog__item-price {
    // width: 300px;
    font-size: 17px;
    padding-top: 25px;
    padding-bottom: 30px;
    box-sizing: border-box;
    padding-right: 50px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__item-price {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}

.catalog__item-price-svg {
  fill: $fill-color;
  position: absolute;

  width: 21px;
  height: 19px;
  opacity: 0.2;

  right: -1px;
  top: 23px;
}

@media (min-width: $tablet-width) {
  .catalog__item-price-svg {
    right: -5px;
    top: 30px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__item-price-svg {
    right: 5px;
    top: 20px;
  }
}
