.contacts {
  margin-bottom: 39px;
}

@media (min-width: $tablet-width) {
  .contacts {
    margin-bottom: 57px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
    margin-bottom: 105px;
  }
}

.contacts__container {
  margin-top: 37px;
}

@media (min-width: $tablet-width) {
  .contacts__container {
    margin-top: 59px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__container {
    position: relative;
    box-sizing: border-box;
    padding: 0 0 0 175px;
    margin-top: 160px;
  }
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

@media (min-width: $tablet-width) {
  .contacts__title {
    position: relative;
    font-size: 43px;
    line-height: 50px;

    &::after {
      content: "";
      position: absolute;

      width: 47px;
      height: 82px;

      background: url("../../img/icon-flag.svg") no-repeat center center;

      right: 5px;
      top: -16px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts__title {
    font-size: 53px;
    line-height: 57px;

    &::after {
      left: -110px;
      top: -10px;
    }
  }
}

.contacts__list {
  line-height: 30px;
  color: $content-text-color;

  @include clear-list;

  margin-top: 25px;
  margin-bottom: 37px;

  font-size: 15px;
}

@media (min-width: $tablet-width) {
  .contacts__list {
    display: flex;
    align-items: flex-start;
    margin-top: 49px;
    margin-bottom: 28px;
    letter-spacing: 0.7px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__list {
    display: block;
  }
}

.contacts__list-item {
  display: flex;
  margin-bottom: 30px;
}

.contacts__email-link {
  color: $content-text-color;
  text-decoration: none;
  border-bottom: 1px solid #6bc5b3;
  margin-left: 32px;

  &:focus,
  &:hover {
    color: $contrast-color;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .contacts__email-link {
    margin-right: 55px;
  }
}

.contacts__address {
  width: 145px;
  margin: 0;
  padding: 0;
  margin-left: 32px;
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .contacts__address {
    width: auto;
    margin-left: 25px;
  }
}

@media (min-width: $tablet-width) {
  .contacts__map {
    width: 768px;
    height: 457px;

    background-color: #999999;
  }
}

@media (min-width: $desktop-width) {
  .contacts__map {
    width: 525px;
    position: absolute;
    right: 100px;
    top: 90px;
  }
}

.contacts__button-container {
  margin-top: 34px;
}

@media (min-width: $tablet-width) {
  .contacts__button-container {
    margin-top: 55px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__button-container {
    margin: auto;
    margin-top: 80px;
    box-sizing: border-box;
    padding: 0 0 0 175px;
  }
}

@media (min-width: $tablet-width) {
  .contacts__write-button {
    margin: auto;
    width: 230px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__write-button {
    margin: 0;
  }
}
