.developed__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  padding: 15px 37px 20px;
}

@media (min-width: $tablet-width) {
  .developed__container {
    padding: 0;
  }
}

.developed__text {
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
}

.developed__link {
  display: block;
  font-size: 0;

  width: 35px;
  height: 40px;
  background-image: url("../img/htmlacademy.svg");
  background-size: cover;
  opacity: 0.6;

  &:focus,
  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .developed__link {
    margin-left: 22px;
  }
}
