.featured {
  position: relative;

  &::after {
    content: "";
    display: block;
    height: 6px;
    width: 100%;
    background-image: url("../../img/bg-zigzag-line.svg");
    background-size: contain;
  }
}

@media (min-width: $tablet-width) {
  .featured {
    &::after {
      height: 16px;
      background-repeat: repeat-x;
      background-position: 25px center;
    }
  }
}

@media (min-width: $desktop-width) {
  .featured {
    &::after {
      display: none;
    }
  }
}

.featured__container {
  margin-top: 29px;
  margin-bottom: 36px;
}

@media (min-width: $tablet-width) {
  .featured__container {
    margin-top: 44px;
    margin-bottom: 52px;
    position: relative;
  }
}

@media (min-width: $desktop-width) {
  .featured__container {
    position: relative;
    margin-top: 123px;
    box-sizing: border-box;
    padding: 0 0 0 175px;
    margin-bottom: 73px;

    &::after {
      position: absolute;
      content: "";
      display: block;
      height: 23px;
      width: 100%;
      background-image: url("../../img/bg-zigzag-line.svg");
      background-size: contain;
      background-repeat: repeat-x;
      transform: rotate(180deg);
      left: 0;
      bottom: -95px;
    }
  }
}

.featured__title {
  margin-bottom: 2px;
}

@media (min-width: $tablet-width) {
  .featured__title {
    letter-spacing: -0.3px;
  }
}

@media (min-width: $desktop-width) {
  .featured__title {
    // padding-left: 175px;
  }
}


.featured__type {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #63d1bb;
}

@media (min-width: $tablet-width) {
  .featured__type {
    text-align: center;
    line-height: 17px;
    position: absolute;
    display: block;
    width: 70px;
    top: 10px;
    right: 28px;
  }
}

@media (min-width: $desktop-width) {
  .featured__type {
    left: 45px;
    top: 15px;
  }
}

.featured__product-wrapper {
  font-size: 15px;
  color: $content-text-color;
}

@media (min-width: $tablet-width) {
  .featured__product-wrapper {
    font-size: 17px;
    box-sizing: border-box;
    width: 50%;
    padding-right: 43px;
  }
}

@media (min-width: $desktop-width) {
  .featured__product-wrapper {
    // padding-left: 175px;
    width: 292px;
  }
}

.featured__description {
  margin: 0;
  padding: 0;
  margin-top: 21px;
}

@media (min-width: $tablet-width) {
  .featured__description {
    width: 282px;
    margin-top: 50px;

    line-height: 30px;
  }
}

.featured__details {
  font-size: 15px;
  line-height: 15px;

  width: 100%;
  margin-top: 17px;
  border-collapse: collapse;
}

@media (min-width: $tablet-width) {
  .featured__details {
    margin-top: 35px;
  }
}

@media (min-width: $desktop-width) {
  .featured__details {
    margin-top: 48px;
  }
}

.featured__detail-name,
.featured__detail-value {
  padding: 13px 0;
  border-bottom: 1px solid #ececec;
}

.featured__detail-value {
  letter-spacing: -0.6px;
  padding-left: 15px;
}

@media (min-width: $tablet-width) {
  .featured__detail-value {
    padding-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .featured__detail-value {
    padding-left: 15px;
  }
}

.featured__img-wrapper {
  padding: 0;
  margin: 0;
  padding-top: 28px;
}

@media (min-width: $tablet-width) {
  .featured__img-wrapper {
    position: absolute;
    right: 0;
    top: 80px;
  }
}

@media (min-width: $desktop-width) {
  .featured__img-wrapper {
    top: -80px;
    z-index: -1;
  }
}

@media (min-width: $tablet-width) {
  .featured__img {
    width: 333px;
    height: 404px;
  }
}

@media (min-width: $desktop-width) {
  .featured__img {
    width: 525px;
    height: 636px;
  }
}

.featured__book-wrapper {
  color: $content-text-color;
  font-weight: bold;
  margin-top: 17px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .featured__book-wrapper {
    box-sizing: border-box;
    margin-top: 55px;
    width: 50%;
    padding-right: 43px;
  }
}

@media (min-width: $desktop-width) {
  .featured__book-wrapper {
    margin-top: 107px;
    padding-right: 0;
    width: 292px;
  }
}

@media (min-width: $tablet-width) {
  .featured__price {
    font-size: 20px;
  }
}

.featured__book-button {
  margin-top: 26px;
}

@media (min-width: $tablet-width) {
  .featured__book-button {
    margin-top: 34px;
  }
}

@media (min-width: $desktop-width) {
  .featured__book-button {
    // width: 292px;
  }
}
