.knitting-form__container {
  margin-bottom: 55px;
}

@media (min-width: $tablet-width) {
  .knitting-form__container {
    margin: 0;
    width: auto;
  }
}

.knitting-form__inner {
  &--submit {
    margin-top: 10px;
  }
}

@media (min-width: $tablet-width) {
  .knitting-form__inner {
    margin: auto;
    margin-top: 66px;
    margin-bottom: 70px;
    width: $tablet-content-width;
    display: flex;

    &--description {
      margin-bottom: 0;
      margin-top: 38px;
    }

    &--type {
      margin-top: 50px;
    }

    &--personal {
      margin-top: 64px;
    }

    &--contacts {
      margin-bottom: 48px;
    }

    &--other {
      margin-bottom: 55px;
    }

    &--submit {
      margin-top: 0;
      margin-bottom: 50px;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }
}

@media (min-width: $desktop-width) {
  .knitting-form__inner {
    width: 700px + 2 * 115px;

    margin-top: 65px;

    &--description {
      width: 700px;

      margin-top: 120px;
    }

    &--type {
      margin-top: 72px;
    }

    &--personal {
      margin-top: 62px;
    }

    &--contacts {
      margin-top: 66px;
    }

    &--submit {
      width: 700px;
      margin-top: -2px;
    }
  }
}

.knitting-form__description {
  font-size: 13px;
  color: $content-text-color;
  padding: 25px 0 23px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .knitting-form__description {
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .knitting-form__description {
    padding: 0;
  }
}

.knitting-form__data {
  display: flex;
  flex-direction: column;
}

.knitting-form__fieldset {
  &--other {
    margin-top: -15px;
  }
}

@media (min-width: $tablet-width) {
  .knitting-form__fieldset {
    &:nth-child(2n) {
      background-color: $grey-color;
    }
  }
}

.knitting-form__legend {
  position: relative;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $contrast-color;
  font-weight: bold;

  margin: 0;
  padding: 0;

  &--personal {
    margin-bottom: 9px;
  }

  &--contacts {
    position: absolute;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;

    height: 1px;
    width: 197px;
    background-color: $contrast-color;

    top: 8px;
    left: 63px;
  }
}

@media (min-width: $tablet-width) {
  .knitting-form__legend {
    width: 166px;

    &::after {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .knitting-form__legend {
    width: 114px;
  }
}

.knitting-form__list {
  @include clear-list;

  padding-top: 13px;
  padding-bottom: 44px;

  &--personal {
    padding-top: 15px;
    margin-bottom: -48px;
  }
}

@media (min-width: $tablet-width) {
  .knitting-form__list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 502px;
    align-content: space-between;

    &--type {
      flex-direction: column;
    }

    &--personal {
      margin-bottom: -20px;
    }

    &--contacts {
      width: 100%;
      max-width: 100%;
    }
  }
}

@media (min-width: $desktop-width) {
  .knitting-form__list {
    max-width: 875px;

    &--color {
      justify-content: space-between;
      max-width: 750px;
    }

    &--personal {
      flex-direction: column;
      flex-grow: 1;
      margin-right: 115px;

      font-size: 19px;
      line-height: 18px;
    }

    &--contacts {
      flex-direction: column;
      margin-right: 115px;
    }
  }
}

.knitting-form__item {
  margin-top: 25px;

  &:first-child {
    margin-top: 22px;
  }

  &--color {
    margin-top: 43px;
  }

  &--personal {
    margin-top: 22px;
    display: flex;
    flex-direction: column;

    &:first-child {
      margin-top: 3px;
    }
  }

  &--contacts {
    display: flex;
    flex-direction: column-reverse;

    // margin-top: 28px;
  }
}

@media (min-width: $tablet-width) {
  .knitting-form__item {
    margin-top: 57px;

    &:first-child {
      margin-top: 0;
    }

    &--color {
      width: 220px;

      &:nth-child(2) {
        margin-top: 0;
      }

      &:nth-child(2n) {
        margin-left: 42px;
      }

      // &:nth-child(2n + 3) {
      //   margin-top: 57px;
      // }
    }

    &--personal {
      flex-direction: row;
      width: 100%;
      margin-top: 40px;
    }

    &--contacts {
      display: flex;
      width: 100%;
      margin-top: 40px;

      flex-direction: row-reverse;
    }
  }
}

@media (min-width: $desktop-width) {
  .knitting-form__item {
    &--color {
      margin-top: 60px;

      &:nth-child(3) {
        margin-top: 0;
      }

      &:nth-child(2n) {
        margin-left: 0;
      }
    }
  }
}

.knitting-form__label {
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  font-weight: bold;

  display: block;
  padding-left: 63px;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
  }

  .knitting-form__radio + &::before {
    width: 36px;
    height: 36px;
    border: 2px solid #434343;
    border-radius: 50%;
    top: -10px;
    left: 0;
  }

  .knitting-form__radio + &:focus,
  .knitting-form__radio + &:hover,
  .knitting-form__checkbox + &:focus,
  .knitting-form__checkbox + &:hover {
    &::before {
      border-color: $contrast-color;
    }
  }

  .knitting-form__radio + &:active,
  .knitting-form__checkbox + &:active {
    &::before {
      border-color: #434343;
      opacity: 0.3;
    }
  }

  .knitting-form__radio:checked + &::after {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $contrast-color;
    top: 2px;
    left: 12px;
  }

  .knitting-form__checkbox + &::before {
    width: 36px;
    height: 36px;
    border: 2px solid #434343;
    top: -10px;
    left: 0;
  }

  .knitting-form__checkbox:checked + &::after {
    width: 20px;
    height: 8px;
    border-left: 2px solid #434343;
    border-bottom: 2px solid #434343;
    top: 3px;
    left: 10px;
    transform: rotate(-45deg);
  }

  &--personal {
    padding-left: 0;
  }

  &--contacts {
    position: relative;
    line-height: 16px;
    color: $contrast-color;
    text-transform: uppercase;
    margin-bottom: 6px;

    &::after {
      content: "";
      display: block;
      position: absolute;

      height: 1px;
      width: 197px;
      background-color: $contrast-color;

      top: 5px;
      left: 63px;
    }
  }

  &--email {
    margin-bottom: 10px;
    margin-top: 6px;

    &::after {
      top: 8px;
      left: 80px;
      width: 180px;
    }
  }

  &--other {
    &::before {
      display: none;
    }

    &::after {
      top: 8px;
    }
  }
}

@media (min-width: $tablet-width) {
  .knitting-form__label {
    font-size: 19px;
    margin-right: 60px;
    padding-left: 80px;

    .knitting-form__radio + &::before {
      width: 48px;
      height: 48px;
      top: -15px;
      left: 0;
    }

    .knitting-form__radio:checked + &::after {
      width: 22px;
      height: 22px;
      top: 0;
      left: 14px;
    }

    .knitting-form__checkbox + &::before {
      width: 50px;
      height: 50px;
      top: -18px;
      left: 0;
    }

    .knitting-form__checkbox:checked + &::after {
      width: 30px;
      height: 12px;
      top: 0;
      left: 12px;
    }

    &--personal {
      padding-left: 0;
      margin-right: 25px;
    }

    &--contacts {
      display: block;
      width: 167px;
      margin-right: 0;

      &::after {
        display: none;
      }
    }

    &--email {
      margin-bottom: 10px;
      margin-top: 0;
    }

    &--other {
      padding-top: 15px;
      width: 230px;
    }
  }
}

@media (min-width: $desktop-width) {
  .knitting-form__label {
    .knitting-form__checkbox + &::before {
      width: 50px;
      height: 48px;
      top: -18px;
      left: 0;
    }

    .knitting-form__checkbox:checked + &::after {
      width: 30px;
      height: 12px;
      top: -3px;
      left: 12px;
    }

    &--contacts {
      width: 115px;
    }

    &--other {
      width: 150px;
    }
  }
}

.knitting-form__label-svg {
  fill: $fill-color;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 33px;
  right: 9px;

  opacity: 0.2;

  &--email {
    width: 32px;
    height: 32px;
    right: 5px;
  }
}

@media (min-width: $tablet-width) {
  .knitting-form__label-svg {
    top: -5px;
    right: -476px;

    &--email {
      right: -480px;
      // top: -12px;
    }
  }
}

@media (min-width: $desktop-width) {
  .knitting-form__label-svg {
    top: -6px;
    right: -695px;
  }
}

.knitting-form__input {
  padding-top: 16px;
  padding-bottom: 16px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #000000;

  width: 100%;
  font-size: 17px;
  line-height: 18px;

  &:focus,
  &:hover,
  &:active {
    border-bottom-color: $contrast-color;

    & + .knitting-form__label .knitting-form__label-svg {
      fill: $contrast-color;
      opacity: 1;
    }
  }
}

@media (min-width: $tablet-width) {
  .knitting-form__input {
    flex-grow: 1;
    width: auto;

    padding-top: 0;

    padding-left: 20px;

    letter-spacing: 1.5px;

    &--contacts {
      letter-spacing: 0;
    }

    &--email {
      letter-spacing: 1.5px;
    }
  }
}


.knitting-form__textarea {
  font-size: 17px;
  line-height: 18px;
  letter-spacing: 0.5px;
  padding: 15px 16px;
  border: 2px solid #000000;

  margin-top: 20px;

  resize: none;

  box-sizing: border-box;
  width: 100%;
  height: 142px;

  &:focus,
  &:hover,
  &:active {
    border-color: $contrast-color;
  }
}

@media (min-width: $tablet-width) {
  .knitting-form__textarea {
    margin-top: 0;
    letter-spacing: 1.5px;
  }
}

@media (min-width: $desktop-width) {
  .knitting-form__textarea {
    margin-right: 115px;
  }
}

.knitting-form__note {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: $content-text-color;
}

@media (min-width: $tablet-width) {
  .knitting-form__note {
    padding-top: 7px;
    font-size: 17px;
    line-height: 30px;
  }
}

.knitting-form__submit-button {
  margin-top: 32px;
}

@media (min-width: $tablet-width) {
  .knitting-form__submit-button {
    width: 230px;
    margin-top: 0;
  }
}
