.modal-add-cart__title {
  text-align: center;
}

.modal-add-cart__size-text {
  font-size: 15px;
  line-height: 30px;

  text-align: center;
}

.modal-add-cart__add-cart-button {
  border: none;
  background-color: #63d1bb;
  color: #ffffff;
}
