.modal-add-cart {
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.6);

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

@media (min-width: $tablet-width) {
  .modal-add-cart {
    padding-top: 51px;
  }
}

.modal-add-cart__container {
  background-color: #ffffff;
  position: relative;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  padding: 30px;
  padding-bottom: 46px;

  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #c6c6c6;

  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .modal-add-cart__container {
    padding: 34px 106px;
    padding-bottom: 45px;

    width: 354px;
  }
}

.modal-add-cart__title {
  text-align: center;
  text-transform: uppercase;
  width: 150px;
}

@media (min-width: $tablet-width) {
  .modal-add-cart__title {
    font-size: 30px;
    line-height: 57px;
    width: auto;
    padding-left: 5px;
  }
}

.modal-add-cart__size-text {
  font-size: 15px;
  line-height: 30px;

  text-align: center;

  margin: 13px 0 0;
}

@media (min-width: $tablet-width) {
  .modal-add-cart__size-text {
    font-size: 17px;
  }
}

.modal-add-cart__size-form {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .modal-add-cart__size-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.modal-add-cart__size-list {
  @include clear-list;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 22px;
}

@media (min-width: $tablet-width) {
  .modal-add-cart__size-list {
    width: 350px;
  }
}

.modal-add-cart__label {
  display: block;
  text-align: center;
  width: 82px;
  padding: 16px 0;
  border: 2px solid #ececec;
  line-height: 16px;

  &:focus,
  &:hover,
  &:active {
    background-color: transparent;
    color: #000000;
    border-color: #c6c6c6;
  }

  .modal-add-cart__size-input:checked + & {
    border-color: $contrast-color;
  }
}

@media (min-width: $tablet-width) {
  .modal-add-cart__label {
    width: 112px;
    padding: 16px 0;
    line-height: 16px;
  }
}

.modal-add-cart__add-cart-button {
  border: none;
  background-color: $contrast-color;
  color: #ffffff;

  margin-top: 31px;
  padding: 16px 0;
}

@media (min-width: $tablet-width) {
  .modal-add-cart__add-cart-button {
    width: 350px;
  }
}
