.nav__list {
  @include clear-list;
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .nav__list {
    flex-direction: row;
  }
}

@media (min-width: $tablet-width) {
  .nav__list-item {
    &:first-child {
      margin-right: 33px;
    }

    &:focus,
    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $desktop-width) {
  .nav__list-item {
    &:first-child {
      margin-right: 71px;
    }
  }
}

@media (min-width: $tablet-width) {
  .nav__link {
    padding: 0;
    padding-top: 18px;
    letter-spacing: -1px;
  }
}

@media (min-width: $desktop-width) {
  .nav__link {
    padding: 30px 0;
    letter-spacing: 0.1px;
  }
}
