.page-footer {
  background-color: #f1f1f1;
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    padding: 50px;
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__logo-link {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer__logo-link {
    display: block;
    filter: brightness(0);

    &:focus,
    &:hover {
      filter: none;
    }

    &:active {
      opacity: 0.2;
    }
  }
}

@import "social.scss";
@import "developed.scss";
