.page-footer {
  background-color: #f1f1f1;
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    padding: 50px;
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__logo-link {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer__logo-link {
    display: block;

    &:not(&--index) {
      &:focus .page-footer__logo-svg,
      &:hover .page-footer__logo-svg {
        fill: $contrast-color;
      }

      &:active {
        opacity: 0.2;
      }
    }
  }
}

.page-footer__logo-svg {
  fill: #231f20;
}

@import "social.scss";
@import "developed.scss";
