.page-footer {
  background-color: #f1f1f1;
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    padding: 50px;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__container {
    // width: 1250px;
    padding: 100px;
  }
}

.page-footer__logo-link {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer__logo-link {
    display: block;
  }
}

@import "social.scss";
@import "developed.scss";
