.production {
  margin-top: 28px;
  padding: 20px 0;
  padding-bottom: 30px;
  border: 1px solid #ebebeb;

  &:focus,
  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);

    & .production-title {
      opacity: 0.6;
    }
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);

    & .production-title {
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .production {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-bottom: 46px;
    margin-bottom: 63px;
  }
}

@media (min-width: $desktop-width) {
  .production {
    flex-wrap: wrap;
    height: 455px;
    margin-top: 55px;
    padding-bottom: 0;
    margin-bottom: 104px;
  }
}

.production__title {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 90px;
  margin-bottom: 26px;
  width: 130px;
  font-size: 17px;
  font-weight: bold;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    top: 8px;
    left: 33px;

    background: url("../img/icon-video.svg") no-repeat center center;
  }
}

@media (min-width: $tablet-width) {
  .production__title {
    order: 2;
    font-size: 20px;
    line-height: 24px;
    width: auto;

    margin-top: 35px;
    padding-left: 105px;

    &::after {
      top: -5px;
      left: 41px;
    }
  }
}

@media (min-width: $desktop-width) {
  .production__title {
    width: 150px;

    margin-top: 95px;
    padding-left: 76px;

    &::after {
      top: -53px;
      left: 80px;
    }
  }
}

.production__video-player {
  position: relative;
}

@media (min-width: $tablet-width) {
  .production__video-player {
    order: 1;

    overflow: hidden;
  }
}

.production__video-img-wrapper {
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .production__video-img-wrapper {
    order: 1;

    width: 668px;
    height: 455px;
  }
}

@media (min-width: $desktop-width) {
  .production__video-img-wrapper {
    width: 682px;
  }
}

.production__video-button {
  position: absolute;
  font-size: 0;
  border: none;
  width: 102px;
  height: 80px;
  background: transparent url("../img/icon-play.svg") no-repeat center center;
  background-size: contain;
  top: 50%;
  margin-top: -40px;

  left: 50%;
  margin-left: -51px;

  transition: width 1s, height 1s, margin-top 1s, margin-left 1s;

  $video-button-hover-size-multiple: 1.2;
  $video-button-active-size-multiple: 0.8;

  &:focus,
  &:hover {
    width: 102px * $video-button-hover-size-multiple;
    height: 80px * $video-button-hover-size-multiple;
    margin-top: -80px * $video-button-hover-size-multiple / 2;
    margin-left: -102px * $video-button-hover-size-multiple / 2;
  }

  &:active {
    opacity: 0.7;

    width: 102px * $video-button-active-size-multiple;
    height: 80px * $video-button-active-size-multiple;
    margin-top: -80px * $video-button-active-size-multiple / 2;
    margin-left: -102px * $video-button-active-size-multiple / 2;
  }
}

.production__description {
  font-size: 13px;
  color: $content-text-color;
  margin-top: 20px;
  margin-left: 34px;
  margin-bottom: 26px;
  width: 190px;
}

@media (min-width: $tablet-width) {
  .production__description {
    order: 3;
    width: auto;
    margin: 10px 43px 40px 43px;
    font-size: 15px;
  }
}

@media (min-width: $desktop-width) {
  .production__description {
    width: 240px;
    margin: 10px 43px 40px 78px;
    line-height: 30px;
  }
}


.production__book-button {
  width: 192px;
  margin: 0 34px;
  letter-spacing: 0.5px;
}

@media (min-width: $tablet-width) {
  .production__book-button {
    order: 4;
    margin: 3px 42px;
    width: 584px;
  }
}

@media (min-width: $desktop-width) {
  .production__book-button {
    margin: 5px;
    margin-left: 75px;
    width: 230px;
  }
}
