.reviews {
  margin-top: 61px;
}

.reviews__list-wrapper {
  margin-top: 38px;
}

.reviews__list {
  @include clear-list;
  margin: 0;
  padding: 0;
}

.reviews__item {
  color: $content-text-color;
}

.reviews__item-content {
  font-size: 15px;
  line-height: 30px;
}

.reviews__item-meta {
  margin-top: 40px;
}

.reviews__item-author {
  color: #000000;
  font-weight: bold;
}

.reviews__control-list {
  @include clear-list;
  margin-top: 36px;

  display: flex;
}

.reviews__control-item {
  flex-grow: 1;
}

.reviews__control {
  font-size: 0;
  width: 100%;
  border: 1px solid #ebebeb;
}

.reviews__write-button {
  margin-top: 38px;
}
