.site-search__input-label {
  display: block;
  position: relative;

  // width: 260px;
  // text-align: center;
  // margin: 0 auto;
  // box-shadow: 0 1px 0 #ebebeb;

  &:focus,
  &:hover {
    opacity: 0.6;

    & .site-search__input-label-svg {
      fill: $contrast-color;
      opacity: 1;
    }
  }

  &:active {
    & .site-search__input-label-svg {
      opacity: 0.2;
    }
  }
}

@media (min-width: $tablet-width) {
  .site-search__input-label {
    font-size: 0;
    box-shadow: -1px 0 0 #ebebeb;
    width: 88px;
  }
}

.site-search__input-label-svg {
  position: absolute;
  width: 18px;
  height: 18px;

  left: calc(100% / 2 - 130px);
  top: 32px;

  opacity: 0.2;
}

@media (min-width: $tablet-width) {
  .site-search__input-label-svg {
    left: 36px;
    top: 36px;
  }
}
