@media (min-width: $tablet-width) {
  .social__container {
    width: auto;
    margin-top: 7px;
    margin-left: 40px;
  }
}

.social__list {
  @include clear-list;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  padding-left: 57px;
  padding-top: 24px;
  padding-right: 62px;
  padding-bottom: 30px;

  border-bottom: 1px solid #e5e5e5;
}

@media (min-width: $tablet-width) {
  .social__list {
    padding: 0;

    border-bottom: none;
    // width: 40px * 2 + 21px * 3;
  }
}

@media (min-width: $tablet-width) {
  .social__item {
    margin-left: 40px;
  }
}

.social__link {
  display: block;
  font-size: 0;

  &:focus .social__link-svg,
  &:hover .social__link-svg {
    fill: $contrast-color;
  }

  &:active {
    opacity: 0.3;
  }

  &--inst {
    width: 22px;
    height: 22px;
  }

  &--fb {
    width: 15px;
    height: 28px;
  }

  &--tw {
    width: 24px;
    height: 21px;
  }
}

.social__link-svg {
  fill: $fill-color;
}
