@import "site-search.scss";


@media (min-width: $tablet-width) {
  .user-list {
    display: flex;
  }
}

.user-list__cart {
  position: relative;

  &:focus,
  &:hover {
    opacity: 0.6;

    & .user-list__cart-svg {
      fill: $contrast-color;
      opacity: 1;
    }
  }

  &:active {
    opacity: 0.3;

    & .user-list__cart-svg {
      fill: #231f20;
      opacity: 0.2;
    }
  }
}

@media (min-width: $tablet-width) {
  .user-list__cart {
    padding-left: 83px;

    &::before {
      top: 34px;
    }
  }
}

.user-list__cart-svg {
  fill: #231f20;

  position: absolute;
  width: 21px;
  height: 19px;

  // left: 30px;
  left: calc(100% / 2 - 130px);
  top: 32px;

  opacity: 0.2;
}

@media (min-width: $tablet-width) {
  .user-list__cart-svg {
    top: 34px;
    left: 30px;
  }
}
