@import "site-search.scss";


@media (min-width: $tablet-width) {
  .user-list {
    display: flex;
    margin-left: 209px;
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    margin-left: 101px;
  }
}
