@import "site-search.scss";


@media (min-width: $tablet-width) {
  .user-list {
    display: flex;
    // margin-left: 209px;
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    margin-left: 101px;
  }
}

.user-list__cart {
  position: relative;

  &::before {
    content: "";

    display: block;
    position: absolute;
    width: 21px;
    height: 19px;
    background: url("../../img/icon-cart.svg") no-repeat center center;

    left: 30px;
    top: 32px;

    opacity: 0.2;
  }
}

@media (min-width: $tablet-width) {
  .user-list__cart {
    padding-left: 83px;

    &::before {
      top: 34px;
    }
  }
}
