.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.menu-item {
  display: block;
  width: 100%;
  padding: 27px 0;
  box-shadow: 0 1px 0 #ebebeb;

  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .menu-item {
    padding: 32px 0;
    box-shadow: none;
  }
}

@media (min-width: $desktop-width) {
  .menu-item {
    padding: 36px 0;
  }
}

.title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;

  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .title {
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .title {
    font-size: 53px;
    line-height: 57px;
  }
}

.container {
  width: $mobile-content-width;
  margin: auto;
}

@media (min-width: $tablet-width) {
  .container {
    width: $tablet-content-width;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: $desktop-content-width;
  }
}

.button {
  display: block;
  background-color: #ffffff;
  border: 2px solid #434343;
  padding: 20px 0;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .button {
    padding: 14px 0;
    text-transform: uppercase;
    font-size: 17px;
    width: 100%;
  }
}
