.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.menu-item {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 27px 0;
  padding-left: 76px;
  box-shadow: 0 1px 0 #ebebeb;

  // text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .menu-item {
    padding: 32px 0;
    box-shadow: none;
  }
}

@media (min-width: $desktop-width) {
  .menu-item {
    padding: 30px 0;
  }
}

.title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;

  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .title {
    font-size: 43px;
    line-height: 50px;
    margin-left: -5px;
  }
}

@media (min-width: $desktop-width) {
  .title {
    font-size: 53px;
    line-height: 57px;
  }
}

.container {
  width: $mobile-content-width;
  margin: auto;
}

@media (min-width: $tablet-width) {
  .container {
    width: $tablet-content-width;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: $desktop-content-width;
  }
}

.button {
  display: block;
  color: #000000;
  text-decoration: none;
  background-color: #ffffff;
  border: 2px solid #434343;
  padding: 14px 0;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  box-sizing: border-box;
  width: 100%;

  cursor: pointer;

  &:focus,
  &:hover {
    color: #ffffff;
    background-color: #444444;
  }

  &:active {
    color: rgba(265, 265, 265, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .button {
    padding: 14px 0;
    text-transform: uppercase;
    font-size: 17px;
    width: 100%;
  }
}
